<%- layout('layouts/main') %>
<section  id="libros-electronicos" >
        
    <div class="container-md p-5">
        <div class="row mb-5">
          <div class="col-md-8 mx-auto text-center ">
            <h1> <font face = "Cursive"> Libros Electronicos</font> </h1>
            <p>Tiene acceso a descargar los siguientes libros electronicos</p>
          </div>
        </div>
    

        <div class="row">
            <div class="col-sm">
                <div class="card w-100 card-border mb-5">
                    <center><img src="/static/images/orgullo-y-prejuicio.jpg" alt="..." height="250" width="150"></center>
                    <div class="card-body">
                    <p class="card-text"> Orgullo y prejuicio de Jane Austen         </p>
                    <center><a href="#" class="btn btn-sm btn-outline-success">Descargar</a></center>
                    </div>
               </div>
            </div>
            <div class="col-sm">
                <div class="card w-100 card-border mb-5">
                    <center><img src="/static/images/don_quijote.jpg"  alt="..." height="250" width="150"></center>
                    <div class="card-body">
                    <p class="card-text">Don Quijote de la Mancha de Miguel de Cervantes</p>
                    <center><a href="#" class="btn btn-sm btn-outline-success">Descargar</a></center>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card w-100 card-border mb-5">
                    <center><img src="/static/images/crimen_castigo.jpg"  alt="..." height="250" width="150"></center>
                    <div class="card-body">
                    <p class="card-text">Crimen y castigo de Fiódor Dostoievski</p>
                    <center><a href="#" class="btn btn-sm btn-outline-success">Descargar</a></center>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card w-100 card-border mb-5">
                    <center><img src="/static/images/iliada.jpg" alt="..." height="250" width="150"></center>
                    <div class="card-body">
                    <p class="card-text">Ilíada de Homero</p>
                    <center><a href="#" class="btn btn-sm btn-outline-success">Descargar</a></center>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card w-100 card-border mb-5">
                    <center><img src="/static/images/divina_comedia.jpg"  alt="..." height="250" width="150"></center>
                    <div class="card-body">
                    <p class="card-text">Divina comedia de Dante Alighieri </p>
                    <center><a href="#" class="btn btn-sm btn-outline-success">Descargar</a></center>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card w-100 card-border mb-5">
                    <center><img src="/static/images/odisea.jpg"  alt="..." height="250" width="150"></center>
                    <div class="card-body">
                    <p class="card-text">Odisea de Homero</p>
                    <center><a href="#" class="btn btn-sm btn-outline-success">Descargar</a></center>
                    </div>
                </div>
            </div>
        </div>
  
    </div>  <!-- div container -->
