<%- layout('layouts/main') %>
<div class="container">
    <br>
    <div class="row mb-10">
        <div class="col-md-8 mx-auto text-center ">
            <h1> <font face = "Cursive">Bienvenido a la pagina oficial de Libreria Estrella</font> </h1>
        </div>
    </div>

    <br>

    <!-- CARRUSEL-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/images/fondo3.jpg" class="d-block w-100" alt="" height="550" width="500">
        </div>
        <div class="carousel-item">
            <img src="/static/images/fondo2.jpg" class="d-block w-100" alt="" height="550" width="500">
        </div>
        <div class="carousel-item">
            <img src="/static/images/fondo.jpg" class="d-block w-100" alt="" height="550" width="500">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="row">
        <div class="col-md-4 offset-md-100">
          <h4> </h4>
        </div>
    </div>

  <section id="section" >
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-xl-center">
                <h1><font face = "Cursive"> Acerca de nosotros </font></h1>
                <p>Constantemente brindamos a nuestros clientes diferentes servicios y promociones que enriquecen su experiencia de compra. Adicionalmente facilitamos espacios de expresión, en donde se llevan a cabo diferentes eventos y actividades culturales.

                    Librerías Gandhi se ha convertido en referencia inevitable para el mundo cultural e intelectual de México.
                    
                    Estamos muy orgullosos por lo que hemos hecho, y por eso nos hemos propuesto continuar nuestro crecimiento, en beneficio de la cultura de nuestro país.
                    
                    Dentro de los planes de expansión de Librerías Gandhi está el abrir nuevas sucursales en diferentes puntos de la República. </p>
            </div>
    </div>
    
    <div class="row">
        <div class="col span-1-of-3 box">
            <center><i class="iicon far fa-check-circle"></i></center>
            <h4 class="text-xl-center">Misión</h4>
            <p>
                Contribuimos a la difusión de la cultura y el entretenimiento 
                creando experiencias para el encuentro con el conocimiento.
            </p>
        </div>
        <div class="col span-1-of-3 box">
            <center><i class="iicon fas fa-eye"></i></center>
            <h4 class="text-xl-center">Visión</h4>
            <p>
                Ser el referente del conocimiento y entretenimiento
                para enriquecer la cultura de las personas, propiciando 
                la transformación de la comunidad a la que servimos.
            </p>
        </div>
        <div class="col span-1-of-3 box">
            <center><i class="iicon far fa-heart"></i></center>
            <h4 class="text-xl-center">Valores</h4>
            <p>
                <li>ACTITUD DE SERVICIO. Satisfacemos las necesidades de nuestros clientes.</li>
                <li>INTEGRIDAD. Actuamos con honestidad y congruencia.</li>
                <li>RESPETO. Tratamos a todos con dignidad.</li>
            </p>
        </div>
    </div> 
 </section>

</div>

<div class="card mb-3"width="700">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="/static/images/ubicacion.jpg" class="d-block w-100" alt="" height="350" width="550">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title"> Dirección</h5>
          <p class="card-text">         
            <li>Metepec - Plaza Izar</li>
            <li>Leona Vicario #936 Poniente, La Purísima,</li>
            <li>Plaza Izar, locales 10 y 15 , La Purisima, México</li>
            <li>Metepec, Estado de México</li>
            <li>México</li>
            <li>52156.</li></p>
        </div>
      </div>
    </div>
  </div>