<%- layout('layouts/main') %>
<br><h3>Bienvenido usuario: <%= user.email %> </h3><br>

<div class="card w-100 card-border mb-5">
    <div class="card-body">
            <h5 class="card-title">Este es el sistema de inventario de la Libreria Estrella</h5>
            <p class="card-text">Con tu cuenta puedes tener acceso al catalogo de libros en existencia, modificar, 
                eliminar y agregar nuevos libros, asi como visualizar el catalogo de libros electronicos.</p>
      </div>
</div>

<div class="row mb-5">
    <div class="col-md-8 mx-auto text-center ">
    <img src="/static/images/img_book.png"  height="250" width="200"/>
    </div>
</div>



